body {
    background-color: #FFF5EF;
}

#geral {
    position: justify;
    margin-top: 7%;
    margin-left: 35%;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}

.fiel {
    background-color: rgb(252, 252, 252);
    border: none;
    border-radius: 60px;
    text-align: center;
    width: 40%;
    box-shadow: #f1ded4 0.5px 0.5px 3.5px 0.5px;

}

.logo1 {
    position: absolute;
    left: 48%;
    width: 10%;
    
}

.lembrar_senha {
    cursor: pointer;
}

.tema {
    text-transform: uppercase;
    margin-top: 90px;
}

.imp {
    border-color: #d57842;
    margin-top: 5px;
    width: 70%;
    border-radius: 8px;


}

.esqueceu1 {
    margin-left: 100px;
}

#olho {
    cursor: pointer;
    position: absolute;
    margin-left: -30px;
    margin-top: 20px;
}

.nome {
    position: relative;
    left: -34%;

}


.login {
    cursor: pointer;
    width: 78%;
    background-color: #F99760;
    color: rgb(48, 48, 48);
    font-size: 20px;
    padding: 9px;
    border-radius: 8px;
    border: none;
    transition: .4s;
}

.login:hover {
    color: aliceblue;
}

.google {
    cursor: pointer;
    margin-top: 10px;
    width: 78%;
    font-size: 17px;
    padding: 8px;
    border-radius: 8px;
}

.esqueceu1 {
    text-decoration: none;
    color: rgb(17, 17, 17);
}

.cadastro a {
    text-decoration: none;
    color: rgb(17, 17, 17);
}

.cadastro {
    font-size: 13px;
    margin-bottom: 70px;
}

.g {
    position: relative;
    top: -4px;
}

.bola1 {
    background-image: linear-gradient(#EE4622, #FF9B04);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    left: 420px;
    top: 150px;
    z-index: -10;
}

.bola2 {
    background-image: linear-gradient(#e1e1e1, #EE4622, #EE4622);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
    left: 205px;
    top: 550px;
    z-index: -5;
}

.bola3 {
    background-image: linear-gradient(#EE4622, #FF9B04, #FF9B04);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    position: absolute;
    left: 900px;
    top: 430px;
    z-index: -20;
}

.bola4 {
    background-image: linear-gradient(#e1e1e1, #EE4622, #EE4622);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
    left: 1120px;
    top: 70px;
    z-index: -30;
}

@media (max-width: 1980px) {
    #geral {
        width: 80%;
        margin-top: 5%;
        margin-left: 9%;
        flex-direction: row;
        text-align: center;
    }

    .login,
    .google {
        width: 75%;
    }

    .imp {
        font-size: 14px;
    }

    .esqueceu {
        margin-left: 25%;
    }

    .fiel {
        margin: 0 auto;
    }

}

.logo1 {
    margin-left: -4%;
}

@media (max-width: 1200px) {
    #geral {
        margin-top: 5%;
        margin-left: 8%;
        flex-direction: row;
        text-align: center;
    }

    .login,
    .google {
        width: 76%;
    }

    .imp {
        font-size: 20px;
    }

    .esqueceu {
        margin-left: 20%;
    }

    .fiel {
        margin: 0 auto;
    }


}

@media (max-width: 768px) {

    Estilos para telas menores,
    como tablets #geral {
        width: 70%;
        margin-top: 10%;
        margin-left: 15%;
        flex-direction: column;
        text-align: center;
    }

    .logo1 {
        width: 20%;
        margin-left: -15%;
    }

    .fiel {
        width: 80%;
        margin: 0 auto;
    }


    .login,
    .google {
        left: 15%;
        width: 76%;
        font-size: 15px;

    }

    .imp {
        font-size: 15px;
    }

    .esqueceu {
        margin-left: 10%;
    }

    .fiel {
        margin: 0 auto;
    }

    .cadastro {
        margin-bottom: 5%;
    }

    .tema {
        margin-top: 50px;
    }

}

@media (max-width: 480px) {

    .login,
    .google {
        width: 82%;
        height: 0 auto;
        font-size: 10px;
    }

    .gg {
        width: 10%;
    }

    .g {
        position: relative;
        top: -7px;
        padding: 5px;
    }

    .bola1,
    .bola2,
    .bola3,
    .bola4 {
        display: none;
    }


}

@media (max-width: 320px) {


    .esqueceu,
    .lembrar_senha {
        font-size: 15px;
        flex-direction: column;
        padding: 5px;
        margin: 5px;
    }

    .imp {
        font-size: 60%;
    }

    .tema {
        font-size: 80%;
        margin-top: 10%;
    }

    .logo1 {
        width: 60%;
        position: relative;
        left: 10%;
        margin-top: 10%;
    }

    .cadastro {
        flex-direction: column;
        font-size: 14px;
    }
    .bola1,
    .bola2,
    .bola3,
    .bola4 {
        display: none;
    }

}