.home {
  background-color: #ffcaad;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .overlap-wrapper {
  background-color: #ffcaad;
  overflow-x: hidden;
  width: 390px;
  height: 844px;
}

.home .overlap {
  position: relative;
  width: 512px;
  height: 922px;
  top: -117px;
  left: -129px;
}

.home .ellipse {
  position: absolute;
  width: 445px;
  height: 406px;
  top: 0;
  left: 0;
  background-color: #a4c5f0;
  border-radius: 222.5px/203px;
  opacity: 0.2;
}

.home .barra-inicio {
  position: absolute;
  width: 376px;
  height: 52px;
  top: 124px;
  left: 136px;
  background-color: #fdfeff;
  border-radius: 15px;
}

.home .menu {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 135px;
  left: 451px;
}

.home .logo {
  position: absolute;
  width: 110px;
  height: 38px;
  top: 131px;
  left: 147px;
  object-fit: cover;
}

.home .rectangle {
  position: absolute;
  width: 352px;
  height: 734px;
  top: 188px;
  left: 148px;
  background-color: #ffcaad;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.home .card-blog {
  position: absolute;
  width: 343px;
  height: 341px;
  top: 17px;
  left: 12px;
}

.home .overlap-group {
  position: absolute;
  width: 329px;
  height: 341px;
  top: 0;
  left: 0;
  background-color: #fdfeff;
  border-radius: 10px;
}

.home .text-wrapper {
  height: 13px;
  top: 319px;
  left: 29px;
  position: absolute;
  width: 50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b4aeae;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .div {
  width: 71px;
  height: 13px;
  top: 319px;
  left: 92px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b4aeae;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .text-wrapper-2 {
  height: 13px;
  top: 319px;
  left: 182px;
  position: absolute;
  width: 50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b4aeae;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .text-wrapper-3 {
  height: 13px;
  top: 319px;
  left: 256px;
  position: absolute;
  width: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b4aeae;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .overlap-2 {
  position: absolute;
  width: 168px;
  height: 39px;
  top: 11px;
  left: 24px;
}

.home .text-wrapper-4 {
  position: absolute;
  width: 133px;
  height: 21px;
  top: 0;
  left: 35px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .overlap-3 {
  position: absolute;
  width: 106px;
  height: 39px;
  top: 0;
  left: 0;
}

.home .text-wrapper-5 {
  height: 17px;
  top: 22px;
  left: 21px;
  position: absolute;
  width: 85px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b4aeae;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .unsplash {
  position: absolute;
  width: 28px;
  height: 30px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.home .voc-j-se-perguntou {
  position: absolute;
  width: 292px;
  top: 51px;
  left: 25px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 11px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .span {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000e6;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .text-wrapper-6 {
  font-size: 10px;
}

.home .image-removebg {
  position: absolute;
  width: 196px;
  height: 125px;
  top: 182px;
  left: 65px;
  object-fit: cover;
}

.home .vector {
  height: 13px;
  top: -293px;
  left: -1616px;
  position: absolute;
  width: 11px;
}

.home .img {
  height: 13px;
  top: -293px;
  left: -1861px;
  position: absolute;
  width: 11px;
}

.home .card-blog-2 {
  height: 341px;
  top: 745px;
  position: absolute;
  width: 343px;
  left: 12px;
}

.home .text-wrapper-7 {
  position: absolute;
  width: 133px;
  height: 21px;
  top: 11px;
  left: 59px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .text-wrapper-8 {
  height: 17px;
  top: 33px;
  left: 44px;
  position: absolute;
  width: 85px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b4aeae;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .unsplash-egnqazbamk {
  height: 30px;
  top: -583px;
  left: -1861px;
  position: absolute;
  width: 28px;
  object-fit: cover;
}

.home .image-removebg-2 {
  position: absolute;
  width: 196px;
  height: 125px;
  top: -411px;
  left: -1820px;
  object-fit: cover;
}

.home .card-blog-3 {
  height: 365px;
  top: 369px;
  position: absolute;
  width: 343px;
  left: 12px;
}

.home .overlap-4 {
  width: 329px;
  height: 365px;
  background-color: #fdfeff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.home .text-wrapper-9 {
  height: 15px;
  top: 338px;
  left: 30px;
  position: absolute;
  width: 50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b4aeae;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .text-wrapper-10 {
  width: 76px;
  height: 15px;
  top: 338px;
  left: 84px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b4aeae;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .text-wrapper-11 {
  height: 15px;
  top: 338px;
  left: 181px;
  position: absolute;
  width: 50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b4aeae;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .text-wrapper-12 {
  height: 15px;
  top: 338px;
  left: 255px;
  position: absolute;
  width: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b4aeae;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .overlap-5 {
  position: absolute;
  width: 168px;
  height: 44px;
  top: 13px;
  left: 24px;
}

.home .text-wrapper-13 {
  position: absolute;
  width: 133px;
  height: 24px;
  top: 0;
  left: 35px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .overlap-group-2 {
  width: 106px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
}

.home .text-wrapper-14 {
  height: 20px;
  top: 24px;
  left: 21px;
  position: absolute;
  width: 85px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b4aeae;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .unsplash-2 {
  height: 34px;
  top: 0;
  left: 0;
  position: absolute;
  width: 28px;
  object-fit: cover;
}

.home .no-mundo-dos-espet {
  position: absolute;
  width: 292px;
  top: 57px;
  left: 25px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 11px;
  letter-spacing: 0;
  line-height: 24px;
}

.home .element {
  position: absolute;
  width: 219px;
  height: 139px;
  top: 165px;
  left: 50px;
  object-fit: cover;
}

.home .vector-2 {
  height: 15px;
  top: -256px;
  left: -1616px;
  position: absolute;
  width: 11px;
}

.home .vector-3 {
  height: 15px;
  top: -256px;
  left: -1861px;
  position: absolute;
  width: 11px;
}

.home .card-blog-4 {
  height: 365px;
  top: 1097px;
  position: absolute;
  width: 343px;
  left: 12px;
}

.home .text-wrapper-15 {
  position: absolute;
  width: 133px;
  height: 24px;
  top: 13px;
  left: 59px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .text-wrapper-16 {
  height: 20px;
  top: 37px;
  left: 45px;
  position: absolute;
  width: 85px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b4aeae;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.home .unsplash-3 {
  height: 34px;
  top: -581px;
  left: -1861px;
  position: absolute;
  width: 28px;
  object-fit: cover;
}

.home .element-2 {
  position: absolute;
  width: 219px;
  height: 139px;
  top: -429px;
  left: -1835px;
  object-fit: cover;
}
