.navbarempressaperfil {
    position: relative;
    width: 0;
    height: 0;
    z-index: 1;
}

.perfilemre {
    margin: 0;
    padding: 0;

}

.Conexoesperfilempre {
    z-index: 1;
    position: relative;
    left: 990px;
    top: -10px;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;

}

.Buscaempresaperfill {
    position: relative;
    top: -20px;
    z-index: 1;
    width: 1530px;
    height: 0;
}

.regalperfilempresaa {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 770px;
    height: 640px;
    top: 70px;
    left: 400px;
    z-index: 1;
    margin: 0;
    padding: 10px;
    position: absolute;
}



.painelperfil {
    width: 100%;
    height: 150px;
    background-color: aqua;

}



.fotoperfilempresa {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0;
    border-radius: 100%;
    top: -60px;
    left: 40px;
    background-color: tomato;
    overflow: hidden;
}

.nomebutempressa {
    position: relative;
    left: 200px;
    top: -130px;
    display: flex;
    justify-content: space-between;
    width: 540px;
}

.nutperfilempresa {
    height: 30px;
    position: relative;
    top: 24px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    width: 110px
}

.segmento-localidade {
    position: relative;
    left: 196px;
    top: -150px;
}

.segmento-localidade p {
    margin: 5px;
}

.dobremimempresa {
    width: 100%;
    height: 140px;
    position: relative;
    border-bottom: 1px #717171 solid;
    top: -120px;
}


.caixasobremimempresa {
    width: 100%;
    height: 70%;
    overflow: auto;
    padding: 5px;
}

.Editarsobremimperfil{
    position: absolute;
    top: -0px;
    left: 100px;
    padding: 2px;
    width: 70px;
    border-radius: 20px;
    border: none;
    background-color: rgb(252, 163, 100);
    cursor: pointer;
    
}