.home {
  width: 100%;
  }
  
  .home .overlap-5 {
    background-color: #fdfeff;
    height: 52px;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  
  .home .menu {
    position: relative;
    height: 30px;
    left: 185px;
    top: 11px;
    width: 30px;
    filter: invert();
  }
  
  .home .logo {
    height: 38px;
    left: 11px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 110px;
  }









  
  .menumodalmobi {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 54%;
    position: absolute;
    top: 60px;
    left: 200px;
  }
  
  .menumodalmobi .div {
    background-color: #ffffff;
    height: 256px;
    position: relative;
    width: 195px;
  }
  
  .menumodalmobi .group {
    height: 200px;
    left: 17px;
    position: absolute;
    top: 36px;
    width: 161px;
  }
  
  .menumodalmobi .overlap-group-wrapper {
    height: 27px;
    left: 0;
    position: absolute;
    top: 0;
    width: 163px;
  }
  
  .menumodalmobi .overlap-group {
    background-color: #f99760;
    border-radius: 10px;
    height: 27px;
    position: relative;
    width: 161px;
  }
  
  .menumodalmobi .text-wrapper {
    color: #000000;
    font-family: "Actor-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 27px;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 135px;
  }
  
  .menumodalmobi .overlap-wrapper {
    height: 27px;
    left: 0;
    position: absolute;
    top: 43px;
    width: 163px;
  }
  
  .menumodalmobi .div-wrapper {
    height: 27px;
    left: 0;
    position: absolute;
    top: 86px;
    width: 163px;
  }
  
  .menumodalmobi .group-2 {
    height: 27px;
    left: 0;
    position: absolute;
    top: 130px;
    width: 163px;
  }
  
  .menu .group-3 {
    height: 27px;
    left: 0;
    position: absolute;
    top: 173px;
    width: 163px;
  }
  
  .menumodalmobi .x-instance {
    height: 18px !important;
    left: 131px !important;
    position: absolute !important;
    top: 7px !important;
    width: 18px !important;
  }
  