
.containernavbar {
    justify-content: space-between;
    align-items: stretch;
    height: 100vh; /* A altura da tela inteira */
    width: 400px;
}

.imagem-redonda {
    margin: 0 auto;
    display: flex;
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden;
}

.botao {
    font-size: 20px;
    color: #2f2f2f;
    display: block;
    width: 80%; 
    height: 50px; 
    padding: 10px;
    border: none;
    background: transparent; 
    transition: .4s;
    border-radius: 15px;
    margin: 0 auto;
}

.botao:hover {
    background: #FFCBAD;
}

.exit{
    position: relative;
    left: 120px;
    top: 250px;
    display: flex;
    border: 1px solid black;
    border: none ;
    width: 70px;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
    transition: .4s;
}

.sairr {
    font-family: sans-serif;
    position: relative;
    margin-left: 10px;
}

.exit:hover{
    background-color: #FFCBAD;
    transition: .4s;
    border-radius: 15px;
}

.iccon{
    margin-left: 5px;
}